.container {
    display: flex;

    justify-content: center;
    align-items: center;
}
.subcontainer {
    display: flex;
    background-color: #DCDCDC;

    border-radius: 15px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

    justify-content: flex-start;
    align-items: center;

    margin-top: 10%;
    
    width: 50%;
    height: 550px;
}
.leftSide {
    display: flex;
    background-color: #3d72de;

    height: 550px;
    width: 40%;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    justify-content: center;
    align-items: center;

}
.rigthSide {
    background-color: red;
}